.about-container {
  display: flex;
}
.about-image {
  height: 300px;
  margin: 24px;
  border-radius: 8px;
}

body{
  font-family: 'Lato', sans-serif;
}

h1, h2{
  font-family: 'Architects Daughter', cursive;
}
