
body{
  font-family: 'Lato', sans-serif;
}

h1, h2{
  font-family: 'Architects Daughter', cursive;
}
.buttons{
  .accept-button{
    margin:2px;
    border-radius: 4px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #f00;


  }
  .decline-button{
    margin:2px;
    border-radius: 4px;
    border-left: 20px solid transparent;
  border-right: 20px solid transparent;

  border-top: 20px solid #f00;
  }
}

.message {
justify-content:center;
border-bottom:inset;
display:grid;
}

.flexor{
  padding:0px;
  margin:0px;
  justify-content: space-evenly;
}

.renter-section {
border: red solid 3px;
border-radius: 8px;
padding:8px;
margin:8px;
width: 50%;

span {
  font-weight: bold;
}
}

.owner-section {
border: green solid 3px;
border-radius: 8px;
padding:8px;
margin:8px;
width: 50%;
span {
  font-weight: bold;
}
}
