<h1>This is my monument index page</h1>
<h2>Plennnnnty of monuments will show up right below</h2>

  <% @monuments.each do |monument|%>
    <div class="monument-card">
      <%= monument.name %>
      <!-- no description no coordinate in the index user goes to the show page
        to get these infos-->
      <%= monument.price%>
      <%= monument.availability%>
      <%= link_to "see more details", monument_path(@monument)%>
    </div>
  <% end %>
