<div class="footer footer-logo">
  <div class="footer-header">
    <div class="footer-title">RentAMon</div>
    <div class="footer-description">Your monument shipped anywhere in the world!</div>
  </div>

  <div class="footer-body">
    <p>Created with ❤️ in MTL.</p>
    <%= link_to "About RentAMon", monuments_path %>
    <%= link_to "About The Devs", monuments_path %>
  </div>

  <div class="footer-copyright">
    <p>© 2021 RentAMon, Inc.</p>
    <div class="social-links">
      <a href="https://www.facebook.com/boxerman08"><i class="fab fa-facebook-f"></i></a>
      <a href="https://github.com/jboxerman08"><i class="fab fa-github"></i></a>
      <a href="https://www.instagram.com/jboxerman/"><i class="fab fa-instagram"></i></a>
    </div>
  </div>
</div>
