<div class="footer footer-logo">
  <div class="footer-header">
    <div class="footer-title">RentAMon</div>
    <div class="footer-description">Your monument shipped anywhere in the world!</div>
  </div>

  <div class="footer-body">
    <p>Created with ❤️ in MTL.</p>
    <%= link_to "About RentAMon", about_path %>
    <%= link_to "About Us", monuments_path %>
  </div>

  <div class="footer-copyright">
    <p>© 2021 RentAMon, Inc.</p>
    <div class="social-links">
      <a href="https://www.facebook.com"><i class="fab fa-facebook-f"></i></a>
      <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
      <a href="https://www.github.com"><i class="fab fa-github"></i></a>
      <a href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
    </div>
  </div>
</div>
