<div class="container">
  <h1>About us</h1>
  <p>Project Atlas, or Rentamon as you know it, began as an experiment.</p>

  <p>How amazing would it be to move the most reknown monuments in the world from one place to another?</p>

  <h2>Challenge accepted!</h2>
  <p>All we needed was UNESCO’s approval and country leaders to give the green light. After showing our great devotion and good care, the market increased like crazy -more than the founders could have actually imagined-.</p>

  <p>Rentamon’s collection started with small edifices. The catalogue grew bigger and bigger in size as would its monuments in dimensions.
  Now with a complete offer, rentAMon is the only company to offer diversity of cultures from anywhere in the world to your home.</p>

  <div class="slogan"><p>RentAMON</p>
  <p>Your monument shipped anywhere in the world!</p></div>
</div>
