.btn-secondary {
  color: white;
  background-color: $our-brown;
  border-radius: 8px;
  width: 50%;
  line-height: 1;
  padding: 1rem 1rem;
  font-size: 2rem;
  margin-top: 24px;
  margin-bottom: 24px
}
