.search {
  width: 100%;
  position: relative;
  background: white;
}
.searchTerm {
  width: 80%;
  border: 3px solid #eb3f3f;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9da9bf;
  text-align: center;
}
.searchTerm:focus{
  color: black
}
.searchButton {
  height: 100%;
  background: #eb3f3f;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 28px;
  padding: 4px;
  border: 0;
  margin: -11px;
  vertical-align: sub;
}
#search_form {
  display: inline;
  align-items: center;
  justify-content: center;
}
